.custom-divider {
  border-bottom: 1px solid #d0d0d0;
}

body {
  .p-datatable-header {
    padding: 0px !important;
  }
}

// revisar
.p-datatable-tfoot {
	display: none;
}
.p-datatable-header {
	padding: 0 !important;
	background-color: #fff !important;
	border-top-right-radius: 8px !important;
	border-top-left-radius: 8px !important;
}
.table-header {
	border-bottom: 1px solid #d0d0d0;
	padding: 8px 0;
	.col {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
.title {
	color: #333;
	font-weight: bold;
}
.btn-padrao {
	background-color: #1A3E6F;
	color: #fff;
	border: none;
	padding: 6px 15px;
	&:hover {
		background-color: #1a3e6fd9;
		color: #fff;
		border: none;
	}
}
.btn-edit {
	background-color: #fff;
	border: 1px solid #1A3E6F;
	color: #1A3E6F;
	padding: 5px;
	&:hover {
		background-color: #fff;
		border: 1px solid #1A3E6F;
		color: #1A3E6F;
		padding: 5px;
	}
}
body {
	.p-datatable {
		.p-datatable-tbody {
			>tr {
				>td {
					background: #fff !important;
					border: none;
					border-top: 1px solid #c8c8c8;
					border-bottom: 1px solid #c8c8c8;
					text-align: left;
					padding: 10px 5px 10px 10px;
				}
			}
		}
		.p-datatable-thead {
			>tr {
				>th {
					border: none;
					border-top: 1px solid #c8c8c8;
					border-bottom: 1px solid #c8c8c8;
					text-align: left;
					padding: 10px 5px 10px 10px;
				}
			}
		}
	}
	.p-datatable-wrapper {
		border-left: 1px solid #c8c8c8;
		border-right: 1px solid #c8c8c8;
	}
	.p-inputswitch.p-inputswitch-checked {
		.p-inputswitch-slider {
			background-color: #fff !important;
			border: 1px solid #1A3E6F !important;
			height: 25px !important;
			width: 55px !important;
			&:hover {
				background-color: #fff !important;
				border: 1px solid #1A3E6F !important;
				height: 25px !important;
				width: 55px !important;
			}
			&:before {
				-webkit-transform: translateX(2.2em) !important;
				transform: translateX(2.15em) !important;
			}
		}
	}
	.p-inputswitch {
		.p-inputswitch-slider {
			background-color: #fff !important;
			border: 1px solid #1A3E6F !important;
			height: 25px !important;
			width: 55px !important;
			&:hover {
				background-color: #fff !important;
				border: 1px solid #1A3E6F !important;
				height: 25px !important;
				width: 55px !important;
			}
			&:before {
				background-color: #1A3E6F !important;
				top: 0.1em !important;
				left: 0.1em !important;
				bottom: 0.1em !important;
				height: 1.45em !important;
				width: 1.45em !important;
			}
			&:after {
				content: "não" !important;
				padding-left: 18px !important;
			}
		}
	}
	.p-inputswitch-checked {
		.p-inputswitch-slider {
			&:after {
				content: "sim" !important;
				padding-left: 0 !important;
				padding-right: 18px !important;
			}
		}
	}
	.p-paginator {
		.p-paginator-pages {
			.p-paginator-page.p-highlight {
				background-color: #1A3E6F !important;
				border-radius: 50% !important;
			}
			.p-paginator-page {
				color: #848484;
				border: 1px solid #848484 !important;
				border-radius: 50% !important;
				margin-left: 4px !important;
			}
		}
		.p-paginator-prev {
			color: #848484;
			border: 1px solid #848484 !important;
			border-radius: 50% !important;
			margin-left: 4px !important;
		}
		.p-paginator-next {
			color: #848484;
			border: 1px solid #848484 !important;
			border-radius: 50% !important;
			margin-left: 4px !important;
		}
	}
}
.p-datatable {
	.p-paginator-bottom {
		text-align: right;
		background-color: #fff;
		padding: 5px;
		border-bottom-right-radius: 8px !important;
		border-bottom-left-radius: 8px !important;
	}
}
.inactive {
	color: #848484 !important;
}

// pra corrigir
.bg-gradient-info {
	background: linear-gradient(87deg, #1B3E6E 0, #CA2D28 100%) !important;
}