.p-datatable-tfoot {
    display: none;
}

.p-datatable-header {
    padding: 0 !important;
    background-color: #fff !important;
    border-top-right-radius: 8px !important;
    border-top-left-radius: 8px !important;
}

.table-header {
    border-bottom: 1px solid #d0d0d0;
    padding: 8px 0;
}
.table-header .col {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    color: #333;
    font-weight: bold;
}

.btn-padrao {
    background-color: #1A3E6F;
    color: #fff;
    border: none;
    padding: 6px 15px;
}

.btn-padrao:hover {
    background-color: #1a3e6fd9;
    color: #fff;
    border: none;
}

.btn-edit, .btn-edit:hover {
    background-color: #fff;
    border: 1px solid #1A3E6F;
    color: #1A3E6F;
    padding: 5px;
}

body .p-datatable .p-datatable-tbody > tr > td {
    background: #fff !important;
}

body .p-datatable .p-datatable-tbody > tr > td, body .p-datatable .p-datatable-thead > tr > th {
    border: none;
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    text-align: left;
    padding: 10px 5px 10px 10px;
}

body .p-datatable-wrapper {
    border-left: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
}

body .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider, body .p-inputswitch .p-inputswitch-slider,
body .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:hover, body .p-inputswitch .p-inputswitch-slider:hover {
    background-color: #fff !important;
    border: 1px solid #1A3E6F !important;
    height: 25px;
    width: 55px;
}

body .p-inputswitch .p-inputswitch-slider:before {
    background-color: #1A3E6F;
    top: 0.1em;
    left: 0.1em;
    bottom: 0.1em;
    height: 1.45em;
    width: 1.45em;
}

body .p-inputswitch .p-inputswitch-slider:after {
    content: "não";
    padding-left: 18px;
}

body .p-inputswitch-checked .p-inputswitch-slider:after {
    content: "sim";
    padding-left: 0;
    padding-right: 18px;

}

body .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
    -webkit-transform: translateX(2.2em);
    transform: translateX(2.15em);
}

body .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: #1A3E6F;
    border-radius: 50%;
}

body .p-paginator .p-paginator-pages .p-paginator-page, body .p-paginator .p-paginator-prev,
body .p-paginator .p-paginator-next {
    color: #848484;
    border: 1px solid #848484 !important;
    border-radius: 50%;
    margin-left: 4px;
}
.p-datatable .p-paginator-bottom {
    text-align: right;
    background-color: #fff;
    padding: 5px;
    border-bottom-right-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
}

.inactive {
    color: #848484 !important;
}

body .p-datatable thead th {
    /*display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;*/
}